<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta content="Codescandy" name="author" />
      <title>Customers Dashboard eCommerce HTML Template - FreshCart</title>
      <!-- Favicon icon-->
      <link rel="shortcut icon" type="image/x-icon" href="../../static/images/favicon/favicon.ico" />

      <!-- Libs CSS -->
      <link href="../../static/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
      <link href="../../static/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
      <link href="../../static/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />

      <!-- Theme CSS -->
      <link rel="stylesheet" href="../../static/css/theme.min.css" />

      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

                  <script type="text/javascript">
                     $(document).ready( function() {

                        $("#sidenav").load("./dashboard-sidenav.html");
                        $("#headnav").load("./dashboard-headnav.html");


                     });
                  </script>
   </head>

   <body>
      <!-- navbar -->
      <nav id="headnav"></nav>

      <div class="main-wrapper">
         <!-- navbar vertical -->
         <!-- navbar -->
         <nav id="sidenav"></nav>

         <nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
            <div class="navbar-vertical">
               <div class="px-4 py-5 d-flex justify-content-between align-items-center">
                  <a href="../../static/index.html" class="navbar-brand">
                     <img src="../../static/images/logo/freshcart-logo.svg" alt="" />
                  </a>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
               </div>
               <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
                  <ul class="navbar-nav flex-column">
                     <li class="nav-item">
                        <a class="nav-link" href="../../static/dashboard/index.html">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-house"></i></span>
                              <span>Dashboard</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Store Managements</span>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="../../static/dashboard/products.html">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-cart"></i></span>
                              <span class="nav-link-text">Products</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="../../static/dashboard/categories.html">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
                              <span class="nav-link-text">Categories</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false" aria-controls="navOrders">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-bag"></i></span>
                              <span class="nav-link-text">Orders</span>
                           </div>
                        </a>
                        <div id="navOrders" class="collapse" data-bs-parent="#sideNavbar">
                           <ul class="nav flex-column">
                              <li class="nav-item">
                                 <a class="nav-link" href="../../static/dashboard/order-list.html">List</a>
                              </li>
                              <!-- Nav item -->
                              <li class="nav-item">
                                 <a class="nav-link" href="../../static/dashboard/order-single.html">Single</a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="../../static/dashboard/vendor-grid.html">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-shop"></i></span>
                              <span class="nav-link-text">Sellers / Vendors</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="../../static/dashboard/customers.html">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-people"></i></span>
                              <span class="nav-link-text">Customers</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="../../static/dashboard/reviews.html">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-star"></i></span>
                              <span class="nav-link-text">Reviews</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Site Settings</span>
                        <span class="badge bg-light-info text-dark-info">Coming Soon</span>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-newspaper"></i></span>
                              <span class="nav-link-text">Blog</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-images"></i></span>
                              <span class="nav-link-text">Media</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-gear"></i></span>
                              <span class="nav-link-text">Store Settings</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Support</span>
                        <span class="badge bg-light-info text-dark-info">Coming Soon</span>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-headphones"></i></span>
                              <span class="nav-link-text">Support Ticket</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-question-circle"></i></span>
                              <span class="nav-link-text">Help Center</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-infinity"></i></span>
                              <span class="nav-link-text">How FreshCart Works</span>
                           </div>
                        </a>
                     </li>

                     <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Our Apps</span>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-apple"></i></span>
                              <span class="nav-link-text">Apple Store</span>
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link disabled" href="#!">
                           <div class="d-flex align-items-center">
                              <span class="nav-link-icon"><i class="bi bi-google-play"></i></span>
                              <span class="nav-link-text">Google Play Store</span>
                           </div>
                        </a>
                     </li>
                     <li id="navMenuLevel" class="collapse" data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                           <li class="nav-item">
                              <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#navMenuLevelSecond2" aria-expanded="false" aria-controls="navMenuLevelSecond2">Two Level</a>
                              <div id="navMenuLevelSecond2" class="collapse" data-bs-parent="#navMenuLevel">
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link" href="#">NavItem 1</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link" href="#">NavItem 2</a>
                                    </li>
                                 </ul>
                              </div>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#navMenuLevelThree2" aria-expanded="false" aria-controls="navMenuLevelThree2">
                                 Three Level
                              </a>
                              <div id="navMenuLevelThree2" class="collapse" data-bs-parent="#navMenuLevel">
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#navMenuLevelThree3" aria-expanded="false" aria-controls="navMenuLevelThree3">
                                          NavItem 1
                                       </a>
                                       <div id="navMenuLevelThree3" class="collapse collapse" data-bs-parent="#navMenuLevelThree">
                                          <ul class="nav flex-column">
                                             <li class="nav-item">
                                                <a class="nav-link" href="#">NavChild Item 1</a>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link" href="#">Nav Item 2</a>
                                    </li>
                                 </ul>
                              </div>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

         <main class="main-content-wrapper">
            <div class="container">
               <div class="row mb-8">
                  <div class="col-md-12">
                     <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
                        <div>
                           <h2>Customers</h2>
                           <!-- breacrumb -->
                           <nav aria-label="breadcrumb">
                              <ol class="breadcrumb mb-0">
                                 <li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">Customers</li>
                              </ol>
                           </nav>
                        </div>
                        <div>
                           <a href="#!" class="btn btn-primary">Add New Customer</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-12 col-12 mb-5">
                     <div class="card h-100 card-lg">
                        <div class="p-6">
                           <div class="row justify-content-between">
                              <div class="col-md-4 col-12">
                                 <form class="d-flex" role="search">
                                    <input class="form-control" type="search" placeholder="Search Customers" aria-label="Search" />
                                 </form>
                              </div>
                           </div>
                        </div>
                        <div class="card-body p-0">
                           <div class="table-responsive">
                              <table class="table table-centered table-hover table-borderless mb-0 table-with-checkbox text-nowrap">
                                 <thead class="bg-light">
                                    <tr>
                                       <th>
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="checkAll" />
                                             <label class="form-check-label" for="checkAll"></label>
                                          </div>
                                       </th>
                                       <th>Name</th>
                                       <th>Email</th>
                                       <th>Purchase Date</th>
                                       <th>Phone</th>
                                       <th>Spent</th>

                                       <th></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerOne" />
                                             <label class="form-check-label" for="customerOne"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Bonnie Howe</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>bonniehowe@gmail.com</td>

                                       <td>17 May, 2023 at 3:18pm</td>
                                       <td>-</td>
                                       <td>$49.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>

                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerTwo" />
                                             <label class="form-check-label" for="customerTwo"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-2.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Judy Nelson</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>judynelson@gmail.com</td>

                                       <td>27 April, 2023 at 2:47pm</td>
                                       <td>435-239-6436</td>
                                       <td>$490.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerThree" />
                                             <label class="form-check-label" for="customerThree"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-3.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">John Mattox</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>johnmattox@gmail.com</td>

                                       <td>27 April, 2023 at 2:47pm</td>
                                       <td>347-424-9526</td>
                                       <td>$29.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerFour" />
                                             <label class="form-check-label" for="customerFour"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-4.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Wayne Rossman</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>waynerossman@gmail.com</td>

                                       <td>27 April, 2023 at 2:47pm</td>
                                       <td>-</td>
                                       <td>$39.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerFive" />
                                             <label class="form-check-label" for="customerFive"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-5.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Rhonda Pinson</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>rhondapinson@gmail.com</td>

                                       <td>18 March, 2023 at 2:47pm</td>
                                       <td>304-471-8451</td>
                                       <td>$213.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerSix" />
                                             <label class="form-check-label" for="customerSix"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-6.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">John Mattox</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>johnmattox@gmail.com</td>

                                       <td>18 March, 2023 at 2:47pm</td>
                                       <td>410-636-2682</td>
                                       <td>$490.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerSeven" />
                                             <label class="form-check-label" for="customerSeven"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-7.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Wayne Rossman</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>waynerossman@gmail.com</td>

                                       <td>18 March, 2023 at 2:47pm</td>
                                       <td>845-294-6681</td>
                                       <td>$39.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerEight" />
                                             <label class="form-check-label" for="customerEight"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-8.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Richard Shelton</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>richarddhelton@jourrapide.com</td>

                                       <td>12 March, 2023 at 9:47am</td>
                                       <td>313-887-8495</td>
                                       <td>$19.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerNine" />
                                             <label class="form-check-label" for="customerNine"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-9.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Stephanie Morales</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>stephaniemorales@gmail.com</td>

                                       <td>22 Feb, 2023 at 9:47pm</td>
                                       <td>812-682-1588</td>
                                       <td>$250.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerTen" />
                                             <label class="form-check-label" for="customerTen"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-10.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Stephanie Morales</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>stephaniemorales@gmail.com</td>

                                       <td>22 Feb, 2023 at 9:47pm</td>
                                       <td>812-682-1588</td>
                                       <td>$250.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="pe-0">
                                          <div class="form-check">
                                             <input class="form-check-input" type="checkbox" value="" id="customerEleven" />
                                             <label class="form-check-label" for="customerEleven"></label>
                                          </div>
                                       </td>

                                       <td>
                                          <div class="d-flex align-items-center">
                                             <img src="../../static/images/avatar/avatar-11.jpg" alt="" class="avatar avatar-xs rounded-circle" />
                                             <div class="ms-2">
                                                <a href="#" class="text-inherit">Pasquale Kidd</a>
                                             </div>
                                          </div>
                                       </td>
                                       <td>pasqualekidd@rhyta.com</td>

                                       <td>22 Feb, 2023 at 9:47pm</td>
                                       <td>336-396-0658</td>
                                       <td>$159.00</td>

                                       <td>
                                          <div class="dropdown">
                                             <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="feather-icon icon-more-vertical fs-5"></i>
                                             </a>
                                             <ul class="dropdown-menu">
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-trash me-3"></i>
                                                      Delete
                                                   </a>
                                                </li>
                                                <li>
                                                   <a class="dropdown-item" href="#">
                                                      <i class="bi bi-pencil-square me-3"></i>
                                                      Edit
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>

                           <div class="border-top d-md-flex justify-content-between align-items-center p-6">
                              <span>Showing 1 to 8 of 12 entries</span>
                              <nav class="mt-2 mt-md-0">
                                 <ul class="pagination mb-0">
                                    <li class="page-item disabled"><a class="page-link" href="#!">Previous</a></li>
                                    <li class="page-item"><a class="page-link active" href="#!">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">Next</a></li>
                                 </ul>
                              </nav>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>

      <!-- Libs JS -->
      <!-- <script src="../../static/libs/jquery/dist/jquery.min.js"></script> -->
      <script src="../../static/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="../../static/libs/simplebar/dist/simplebar.min.js"></script>

      <!-- Theme JS -->
      <script src="../../static/js/theme.min.js"></script>
   </body>
</html>
